<div class="pipes">
  <h1>Pipes</h1>
  <h2>Built in pipes</h2>
  <p>{{myvalue | uppercase}}</p>
  <p>{{myvalue | slice:2:5}}

    <h2>Custom Pipe</h2>
    <input type="text" #input (keyup)="0">
    <p>{{input.value | mydouble}}</p>
    <hr>
    <input type="text" #newItem>
    <button (click)="values.push(newItem.value)" class="btn btn-primary">Add Item</button>
    <ul>
      <li *ngFor="let item of values | filter:'ea'">{{item}}</li>
      </ul>

    <h2>Async Pipe</h2>
    <p>{{asyncValue | async}}</p>
</div>